version: 2
updates:
  # Python requirements.txt
  - package-ecosystem: "uv"
    directory: "/Ansible"
    assignees:
      - "eskog"
    schedule:
      interval: "daily"
    labels:
      - "python"
      - "chore"
      - "dependencies"
    commit-message:
      prefix: "Chore:"
    groups:
      all-pip-deps:
        applies-to: "version-updates"
        patterns:
        - '*'

  - package-ecosystem: "terraform"
    directory: "/Terraform" # adjust if your terraform files are in a subdir
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    assignees:
      - "eskog"
    schedule:
      interval: "daily"
    labels:
      - "github-actions"
      - "chore"